.header {
    width: 100%;
    height: 590px;
    background-color: #000;
    background-image: url("./../img/header-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header__container {
    width: 1400px;
    height: 300px;
    margin: 0 auto;
    background-color: aqua;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
    height: 150px;
}

