.section-cart {
  padding: 70px 0 90px;
}

.section-cart__header {
  margin-bottom: 40px;
  text-align: center;
}

.cartText {
  text-align: center;
}

.button-wrapper {
margin-top: 20px;
margin-bottom: 20px;

text-align: center;
}
