html, body {
  min-height: 100vh;
}

body {
    /* font-family: sans-serif;
    line-height: 1.5;
    padding: 15px;
    max-width: 800px;*/
    margin: 0; 

    background-color: #000;
    background-image: url(./i.webp);
    background-position: center center; 
    background-size: cover;
    background-repeat: no-repeat;
    
}

li {
    /* margin-top: 15px; */
}
